<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<h2>Welcome To RideShare</h2>
<body data-ng-app="APIModule">
    <div id="tblSubs" ng-controller="APIController">
        
    </div>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/APIScripts/Module.js"></script>
    <script src="../Scripts/APIScripts/Service.js"></script>
    <script src="../Scripts/APIScripts/Controller.js"></script>   
</body>
