@model IEnumerable<RideShare.DAL.Customer>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Map Initialize</h1>
<div id="map"></div>
<script>
      function initMap() {
        var uluru = {lat: 0.000, lng: 0.000};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD65tdRJEKY1TVWxSApzzqI9NH-FghvJYY&callback=initMap">
</script>
</body>